<ng-container>
  <button (click)="get400Error()" class="btn btn-outline-primary mr-3">Test400</button>
  <button (click)="get401Error()" class="btn btn-outline-primary mr-3">Test401</button>
  <button (click)="get500Error()" class="btn btn-outline-primary mr-3">Test500</button>
  <button (click)="get404Error()" class="btn btn-outline-primary mr-3">Test404</button>
  <button (click)="get400ValidationError()" class="btn btn-outline-primary mr-3">Test400Val</button>
  <div class="row mt-5" *ngIf="validationErrors.length>0">
    <ul class="text-danger">
      <li *ngFor="let err of validationErrors">{{ err }}</li>
    </ul>
  </div>
</ng-container>
